.purchase-form-container{
  width: 580px;
}

.purchases-container{
  width: 800px;
  margin: auto;
}

.add-purchase-button{
  color: red;
}

.purchase-details{
  width: 1000px;
  margin: auto;
}

.remove_fields{
  margin-left: 5px;
}
